In [2]:
from sqlalchemy import create_engine,text
from sqlalchemy.engine.base import Engine

In [6]:
conn_str = f'postgresql://khan.zrs2486:mCBwZ8ub5qWi@ep-restless-wave-a5rw0kcf.us-east-2.aws.neon.tech/neondb?sslmode=require'
engine : Engine = create_engine(conn_str)

In [11]:
with engine.connect() as conn:
    trans = conn.begin()
    try:
        create_query = '''
        CREATE TABLE example_table (
            id INTEGER PRIMARY KEY,
            name TEXT,
            age INTEGER
            )
        '''
        conn.execute(text(create_query))
        print("Table 'example_table' created successfull")
        trans.commit()
    except:
        trans.rollback()
        raise

    
    
    conn.commit()

Table 'example_table' created successfull

In [13]:
with engine.connect() as conn:
    trans = conn.begin()
    try:
        insert_query = '''
        INSERT INTO example_table ( id, name, age) VALUES 
                (1 ,'John Doe', 25),
                (2 , 'Jane Smith', 30),
                (3 , 'Bob Johnson', 22)
                '''
        conn.execute(text(insert_query))
        print("data inserted successfully")
        trans.commit()

    except :
        trans.rollback()
        raise

data inserted successfully

In [18]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT * FROM example_table"))
    rows = result.fetchall()
    for row in rows:
        print(row)

(1, 'John Doe', 25)
(2, 'Jane Smith', 30)
(3, 'Bob Johnson', 22)